.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 5%;
}
.query-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  padding: 0 5%;
}
.input-container, .filter-section, .sort-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.input-container input, .query-section input, .delete-button {
  width: 10%;
  height: 20px;
  margin: 5px;
  padding: 10px;
  border: solid 1px #ced4da;
  border-radius: 5px;
  font-family: 'Spartan', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  transition: ease-in-out border .15s;
  transition: ease-in-out box-shadow .15s;
}
.input-container input:focus:not(.submit), .query-section input:focus:not(.submit) {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: none;
}
.query-section input {
  max-width: 112px;
}
.input-container input::placeholder {
  font-size: 0.85rem;
  font-weight: 500;
}
.input-container .id {
  width: 5%;
  min-width: 40px;
}
.input-container #search-input {
  width: 50%;
}
.input-container .submit, .query-section .submit, .delete-button {
  width: max-content;
  height: auto;
  padding: 12px;
  background: white;
  border: 1px solid #198754;
  color: #198754;
  font-weight: 500;
  transition: ease-in-out color .15s;
  transition: ease-in-out background .15s;
  outline: none;
}
.input-container .submit:hover, .input-container .submit:focus, .query-section .submit:hover, .query-section .submit:focus{
  background: #198754;
  color:  white;
}
.delete-button {
  border: 1px solid #dc3545;
  color: #dc3545;
  font-weight: 500;
  transition: ease-in-out color .15s;
  transition: ease-in-out background .15s;
}
.delete-button:hover, .delete-button:focus {
  background: #dc3545;
  color: white;
}
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.bottom-container .container {
  width: 50%;
  max-width: 300px;
}
select {
  display: block;
  margin: 5px;
  font-family: 'Spartan', sans-serif;
  font-size: 0.85rem;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ced4da;
  background: white;
  transition: ease-in-out border .15s;
  transition: ease-in-out box-shadow .15s;
}
select:focus {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: none;
}
.filter-section, .sort-section {
  align-items: center;
}
#filter-select {
  width: 60px;
}
#showData {
  display: block;
  overflow-x: auto;
}
table {
  max-width: 1700px;
  margin: 10px auto 20px;
  border-collapse: collapse;
  padding: 0;
}
th, td {
  width: fit-content;
  text-align: center;
  padding: 20px;
  margin: 0;
}
th {
  padding: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}
td {
  font-size: 0.9rem;
}
tr:first-of-type th:first-of-type {
  border-radius: 8px 0 0 0;
}
tr:first-of-type th:last-of-type {
  border-radius: 0 8px 0 0;
}
tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 8px;
}
tr:last-of-type td:last-of-type {
  border-radius: 0 0 8px 0;
}
h1, h2 {
  font-family: 'Spartan', sans-serif;
}
h1 {
  font-size: 2.6rem;
  font-weight: 700;
  padding: 0 5%;
}
.colorEven {
  background: rgba(34,46,58,.05);
}